{% extends 'base.html.twig' %}

{% block title %}Connexion ◈ Esca'Lab
{% endblock %}

{% block nav %}
	<nav id="mainNav" class="navbar navbar-light navbar-expand-lg fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{ path('accueil') }}">Esca'Lab</a>
			<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<div id="navbarResponsive" class="collapse navbar-collapse">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
					</li>
					{% if app.user.id is defined and app.user.id != 0 %}
						<li class="nav-item" style="display: inline-block">
							<a class="nav-link" href="{{ path('user') }}">Mon compte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>
						<li class="nav-item">
							<img class="border rounded-circle img-profile" width="30px" height="30px" style="" src="{{asset('images/profiles/') ~ app.user.picture}}">
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('login') }}">Se connecter</a>
						</li>
						<div class="d-none d-sm-block topbar-divider"></div>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('register') }}">S&#39;inscrire</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block body %}
	<main class="gradient-light-grey-light-blue">
		<div class="container min-vh-100">
			<div class="row min-vh-100">
				<div class="col-xl-3"></div>
				<div class="col-xl-6 align-self-center">
					<form class="custom-container" method="post">
						<div class="text-center">
							<img src="{{ asset('images/logo.png') }}" width="50" height="50" class="rounded" alt="logo"/>
						</div>

						<h1 class="text-center lobster text-black mb-3">
							Connectez-vous
						</h1>

						<div class="mb-3">
							<label for="email" class="form-label poppins light">
								Adresse email ou pseudo
							</label>
							<input type="email" class="form-control poppins" name="email" required value="{{ last_username }}" id="email" placeholder="john.doe@domaine.fr"/>

						</div>
						<div class="mb-3">
							<label for="password" class="form-label poppins light">
								Mot de passe
							</label>
							<input type="password" class="form-control poppins" name="password" required id="password" placeholder="••••••••••"/>
						</div>
						{% if error %}
							{% if error.code == 0 %}
								<p class="fst-italic text-danger poppins bold tiny">Les identifiants de connexion sont incorrects.</p>

							{% endif %}

						{% endif %}

						{% if error.not_activated is defined %}
							<p class="fst-italic text-danger poppins bold tiny">Votre compte n'est pas encore activé, veuillez vérifier vos mails.</p>
						{% endif %}
						{% if error.missmatch is defined %}{% endif %}
						<p class="fst-italic fs-6 text-muted poppins light">
							Mot de passe oublié ?
							<a class="text-decoration-none" href="{{ path('forgotPassword') }}">Réinitialisez-le</a>
						</p>
						<div class="text-center">
							<input type="hidden" name="login">
							<button class="btn btn-primary poppins bold mb-3 rounded" type="submit">
								Connexion
							</button>
							<p class="fst-italic fs-6 text-muted poppins light">
								Pas encore de compte ?
								<a class="text-decoration-none" href="{{ path('register') }}">Inscrivez-vous</a>
							</p>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

					</form>
				</div>
				<div class="col-xl-3"></div>
			</div>
			<div class="row">
				<div class="col-md-10 col-lg-8 mx-auto" style="text-align: center;">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<span class="">
								<i class="bi bi-twitter"></i>
								<span></li>
								<li class="list-inline-item">
									<span class="fa-stack fa-lg">
										<i class="bi bi-facebook"></i>
									</span>
								</li>
							</ul>
							<p class="text-muted copyright">Copyright © Esca'Lab 2022</p>
						</li>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}

	{% block footer %}{% endblock %}
