{# {% extends 'accueil/index.html.twig' %} #}
{% extends 'base.html.twig' %}

{% block title %}
	Esca'Lab - Franchises
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('js/route/update-route-status.js') }}"></script>
	<script src="{{ asset('js/route/send-message.js') }}"></script>
	<script src="{{ asset('js/tiny-toast-1.1.0/tiny-toast.min.js') }}"></script>
{% endblock %}

{% set templateSpan %}
<span id="spinner-__id__" class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" hidden></span>
{% endset %}

{% if app.user.id is defined and app.user.id != 0 %}
	{% set templateMessage %}
	<div id="comment-__idMessageTemplate__" class="row align-items-center pt-2 pb-2" style="border-bottom: 1px solid lightgray; min-height:8vh;">
		<div class="row">
			<div class="col-2">
				<img class="border rounded-circle img-profile" src="{{asset('images/profiles/' ~ app.user.picture ~ '')}}" style="width:50px;">
			</div>
			<div class="col-10">
				<p style="text-align: justify;margin-bottom: 0px;">
					<strong>{{ app.user.username }}</strong>
					: __messageContentTemplate__
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-2"></div>
			<div class="col-10" style="text-align:left;">
				<span class="badge bg-danger" style="cursor: pointer;">
					<i class="bi bi-heart"></i>
					6</span>
				<span class="badge text-warning" style="cursor: pointer;">
					<i class="bi bi-hand-thumbs-up"></i>4</span>
				<span class="badge text-success" style="cursor: pointer;">
					<i class="bi bi-check-lg"></i>4</span>
			</div>
		</div>
	</div>
	{% endset %}
{% endif %}

{% block body %}
	<div class="container-fluid">
		<div class="d-sm-flex align-items-center mb-4">
			<h4 class="text-dark mb-0 poppins bold text-black" style="color: rgb(33,37,41);">
				<a href="{{ path('index') }}">Franchises</a>
				>
				<a href="{{ path('list_gyms_franchise', {id: franchise.id}) }}">{{ franchise.name }}</a>
				>
				<a href="{{ path('gym', {id: gym.id}) }}">{{ gym.name }}</a>
			</h4>
		</div>
		<br/>
		<div class="row">
			<div class="col">
				<div class="card shadow border-start-warning py-2">
					<div class="card-body">
						<div class="row align-items-center no-gutters" style="text-align: center;">
							<div class="col"></div>
							<div class="col-6">
								<h3>Fil de discussion</h3>
							</div>
							<div class="col"></div>
						</div>
						<hr class="bg-danger border-2 border-top border-secondary">
						<div id="chat-container" class="row align-items-center no-gutters classContainerChat" style="text-align: center;max-height:60vh;overflow-y:auto;">
							<div class="col" id="messages-list" style="">
								{% if comments|length == 0 %}
									<div id="no-comment-display" class="row align-items-center">
										<div class="col-12">
											<p style="text-align: center; color: darkgray">
												Il n'y a pas encore de messages sur cette voie
											</p>
										</div>
									</div>
								{% else %}
									{% for comment in comments %}
										<div id="comment-{{ comment.id }}" class="row align-items-center pt-2 pb-2" style="border-bottom: 1px solid lightgray; min-height:8vh;">
											<div class="row">
												<div class="col-2">
													<img class="border rounded-circle img-profile" src="{{asset('images/profiles/' ~ comment.userId.picture ~ '')}}" style="width:50px;">
												</div>
												<div class="col-10">
													<p style="text-align: justify;margin-bottom: 0px;">
														<strong>{{ comment.userId.username }}</strong>
														:
														{{ comment.messageContent }}
													</p>
												</div>
											</div>
											<div class="row">
												<div class="col-2"></div>
												<div class="col-10" style="text-align:left;">
													<span class="badge bg-danger" style="cursor: pointer;">
														<i class="bi bi-heart"></i>
														6</span>
													<span class="badge text-warning" style="cursor: pointer;">
														<i class="bi bi-hand-thumbs-up"></i>4</span>
													<span class="badge text-success" style="cursor: pointer;">
														<i class="bi bi-check-lg"></i>4</span>
												</div>
											</div>
										</div>
									{% endfor %}
								{% endif %}
							</div>
						</div>
						{% if app.user.id is defined and app.user.id != 0 %}
							<div id="chat-message" class="row align-items-center no-gutters pt-3" style="text-align: center;border-top: 1px solid lightgray;">
								<div class="input-group mb-3">
									{% if route.opened == 1 %}
										<input id="input-message" type="text" class="form-control" placeholder="Trop facile ce bloc" aria-label="Trop facile ce bloc">
										<button class="btn btn-outline-secondary" type="button" id="send-message" data-b-route="{{ route.id }}">
											<span id="spinner-send-message" class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" hidden></span>
											Envoyer
										</button>
									{% else %}
										<input id="input-message" type="text" class="form-control" placeholder="Cette voie est fermée" aria-label="Cette voie est fermée" readonly>
										<button class="btn btn-outline-secondary disabled" type="button" id="send-message" data-b-route="{{ route.id }}">
											Envoyer
										</button>
									{% endif %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div id="carte-user-{{ route.id }}" class="col" style="max-height:78vh;">
				<div class="card shadow border-start-warning py-2">
					<div class="card-body">
						<div class="row align-items-center no-gutters">
							<div class="col">
                                <img src="{{ asset('images/routes/'~route.picture) }}" class="mx-auto d-block" style="height: 60vh;"/>
							</div>
						</div>
						<hr class="bg-danger border-2 border-top border-secondary">
						<div class="row">
							<div class="col ms-3" style="text-align: left;">
								<p>Statut :
									{% if route.opened == 1 %}
										<span class="badge rounded-pill bg-success">Ouverte</span>
									{% else %}
										<span class="badge rounded-pill bg-danger">Fermée</span>
									{% endif %}
								</p>
							</div>
							<div class="col me-3" style="text-align: right;">
								<p>
									Difficultée :
									<strong>{{ route.difficulty }}</strong>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col mt-2" style="text-align: center;">
								{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
									{% if route.opened == 1 %}
										{% if route.id not in resolved %}
											<button id="btn-update-route" type="button" class="btn btn-info btn-add" data-b-route="{{ route.id }}">
												<span id="spinner-{{ route.id }}" class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" hidden></span>
												Je l'ai faite !
											</button>
										{% else %}
											<button id="btn-update-route" type="button" class="btn btn-warning btn-remove" data-b-route="{{ route.id }}">
												<span id="spinner-{{ route.id }}" class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" hidden></span>
												Je me suis trompé
											</button>
										{% endif %}
									{% else %}
										<button type="button" class="btn btn-secondary disabled">Trop tard</button>
									{% endif %}
								{% else %}
									<a href="{{ path('login') }}" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">Se connecter pour valider</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col" style="max-height:78vh;overflow-y:hidden;">
				<div class="card shadow border-start-warning py-2">
					<div class="card-body">
						<div class="row align-items-center no-gutters" style="text-align: center;">
							<div class="col"></div>
							<div class="col-6">
								<h3>Statistiques de la voie</h3>
							</div>
							<div class="col"></div>
						</div>
						<hr class="bg-danger border-2 border-top border-secondary">
						<div class="row align-items-center no-gutters" style="text-align: center;">
							<div class="col"></div>
							<div class="col-6">
								<p class="lead">A été reussie
									{{ route.users|length }}
									fois</p>
							</div>
							<div class="col"></div>
						</div>
						<div
							class="row align-items-center no-gutters">
							{# <div class="col"></div> #}
							<div class="col">
								<div class="row">
									<div class="col">
										<p class="lead" style="text-align: left;">Ouverte le : 03/02/2022</p>
									</div>
									<div class="col">
										<p class="lead" style="text-align: right;">Fermée le : 03/02/2022</p>
									</div>
								</div>
							</div>
							{# <div class="col"></div> #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<input type="text" id="url_root" value="{{ app.request.getSchemeAndHttpHost() }}" hidden></input>
<input type="text" id="templateSpan" data-t-span="{{ templateSpan|escape }}" hidden>

{% if app.user.id is defined and app.user.id != 0 %}
	<input type="text" id="templateMessage" data-t-span="{{ templateMessage|escape }}" hidden>
{% endif %}

<link rel="stylesheet" href="{{asset('bootstrap/home/css/bootstrap.min.css')}}">
{% endblock %}
