{% extends 'accueil/index.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block title %}
        Esca'Lab - Franchises
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('js/route/update-route-status.js') }}"></script>
    <script src="{{ asset('js/tiny-toast-1.1.0/tiny-toast.min.js') }}"></script>
{% endblock %}

{% set templateSpan %}
<span id="spinner-__id__" class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" hidden></span>
{% endset %}

{% block corps %}
<div class="container-fluid">
	<div class="d-sm-flex align-items-center mb-4">
		<h4 class="text-dark mb-0 poppins bold text-black" style="color: rgb(33,37,41);">
            <a href="/franchise/all">Franchises</a> > <a href="/franchise/{{ franchise.id }}/gyms">{{ franchise.name }}</a> > <a href="/franchise/{{ gym.id }}/gyms">{{ gym.name }}</a>
        </h4>
	</div>
    <br/>
	<div class="row">
        <div class="col">
            <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters" style="text-align: center;">
                        <div class="col"></div>
                        <div class="col-6">
                            <h3>Chat</h3>
                        </div>
                        <div class="col"></div>
                    </div>
                    <hr class="bg-danger border-2 border-top border-secondary">
                    <div id="chat-container" class="row align-items-center no-gutters classContainerChat" style="text-align: center;max-height:60vh;overflow-y:hidden;">
                        <div class="col" style="">
                            <div id="comment-XXX"  class="row align-items-center" style="border-bottom: 1px solid lightgray;">
                                <div class="col-2">
                                    <img class="border rounded-circle img-profile" src="{{asset('images/profiles/mistergooddeal.jpg')}}" style="width:50px;">
                                </div>
                                <div class="col-9">
                                    <p style="text-align: justify">
                                        <strong>{{ user.firstname }} {{ user.lastname }}</strong>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec sodales odio, ut finibus mauris. Etiam nec molestie tellus, eget sodales nisi. Vestibulum et neque fermentum mauris ullamcorper imperdiet ut vel elit. Curabitur vitae sollicitudin ipsum, non vulputate dui. Mauris enim neque, laoreet sed urna nec, facilisis semper ex. In.
                                    </p>
                                </div>
                                <div class="col-1">
                                    <i class="bi bi-emoji-smile"></i>
                                </div>
                            </div>
                            {% for i in 0..10 %}
                            <div id="comment-XXX"  class="row align-items-center" style="border-bottom: 1px solid lightgray;">
                                <div class="col-2">
                                    <img class="border rounded-circle img-profile" src="{{asset('images/profiles/aesahaettr.gif')}}" style="width:50px;">
                                </div>
                                <div class="col-9">
                                    <p style="text-align: justify">
                                        <strong>{{ user.firstname }} {{ user.lastname }}</strong>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec sodales odio, ut finibus mauris. Etiam nec molestie tellus, eget sodales nisi. Vestibulum et neque fermentum mauris ullamcorper imperdiet ut vel elit. Curabitur vitae sollicitudin ipsum, non vulputate dui. Mauris enim neque, laoreet sed urna nec, facilisis semper ex. In.
                                    </p>
                                </div>
                                <div class="col-1">
                                    <i class="bi bi-emoji-smile"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="chat-message" class="row align-items-center no-gutters pt-3" style="text-align: center;border-top: 1px solid lightgray;">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carte-user-{{ route.id }}" class="col" style="max-height:78vh;">
            <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col">
                            <img src="{{ asset('images/profiles/route_ex.jpg') }}" class="mx-auto d-block" style="height: 60vh;" />
                        </div>
                    </div>
                    <hr class="bg-danger border-2 border-top border-secondary">
                    <div class="row">
                        <div class="col ms-3" style="text-align: left;">
                            <p>Statut :
                            {% if route.opened == 1 %}
                                <span class="badge rounded-pill bg-success">Ouverte</span>
                            {% else %}
                                <span class="badge rounded-pill bg-danger">Fermée</span>
                            {% endif %}
                            </p>
                        </div>
                        <div class="col me-3" style="text-align: right;">
                            <p>
                                Difficultée : <strong>{{ getDiff(route.difficulty) }}</strong>
                            </p>
                        </div>
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="row">
                        <div class="col mt-2" style="text-align: center;">
                            {% if route.opened == 1 %}
                                {% if route.id not in resolved %}
                                    <button id="btn-{{ route.id }}" type="button" class="btn btn-info btn-add" data-b-route="{{ route.id }}">
                                        <span id="spinner-{{ route.id }}" class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" hidden></span>
                                        Je l'ai faite !
                                    </button>
                                {% else %}
                                    <button id="btn-{{ route.id }}" type="button" class="btn btn-warning btn-remove" data-b-route="{{ route.id }}">
                                        <span id="spinner-{{ route.id }}" class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true" hidden></span>
                                        Je me suis trompé
                                    </button>
                                {% endif %}
                            {% else %}
                                <button type="button" class="btn btn-secondary disabled">Trop tard</button>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col" style="max-height:78vh;overflow-y:hidden;">
            <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters" style="text-align: center;">
                        <div class="col"></div>
                        <div class="col-6">
                            <h3>Statistiques de la voie</h3>
                        </div>
                        <div class="col"></div>
                    </div>
                    <hr class="bg-danger border-2 border-top border-secondary">
                    <div class="row align-items-center no-gutters" style="text-align: center;">
                        <div class="col"></div>
                        <div class="col-6">
                            <p class="lead">A été reussie {{ route.users|length }} fois</p>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row align-items-center no-gutters">
                        {# <div class="col"></div> #}
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p class="lead" style="text-align: left;">Ouverte le : 03/02/2022</p>
                                </div>
                                <div class="col">
                                    <p class="lead" style="text-align: right;">Fermée le : 03/02/2022</p>
                                </div>
                            </div>
                        </div>
                        {# <div class="col"></div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="text" id="url_root" value="{{ app.request.getSchemeAndHttpHost() }}" hidden></input>
<input type="text" id="templateSpan" data-t-span="{{ templateSpan|escape }}" hidden>
{% endblock %}
