{% extends 'admin-user.html.twig' %}
{% block title %}Admin ◈ Esca'Lab
{% endblock %}


{% block body %}
<div class="container-fluid">
	<h3 class="text-dark mb-4 poppins">Évènements</h3>
	<div class="card shadow">
		<div class="card-header py-3">
			<p class="text-primary m-0 fw-bold poppins">Gestion des évènements</p>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6 text-nowrap">
				</div>
				<div class="col-md-6">
					<div id="dataTable_filter" class="text-md-end dataTables_filter">
						{{ form_start(form) }}
						<div class="input-group">
							{{ form_widget(form.search)}}
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit" title="Rechercher un évènement">
									<svg class="bi bi-search" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16">
										<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
									</svg>
								</button>
								<button type="button" class="btn btn-danger" onclick="location.replace('/admin/evenements');" title="Réinitialiser la recherche">
									<svg class="bi bi-arrow-clockwise" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16">
										<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
										<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
									</svg>
								</button>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
			<div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
				<table id="dataTable" class="table my-0">
					<thead>
						<tr class="poppins">
							<th>Titre</th>
							<th>Description</th>
							<th>Salle</th>
							<th>Début</th>
							<th>Fin</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for event in events %}
						<tr class="poppins">
							<td>{{event.title}}</td>
							<td>{{event.description}}</td>
							<td>{{event.gym.name}} (salle n°{{event.gym.id}})</td>
							<td>{{event.eventDate|date('d/m/Y h:i')}}</td>
							<td>{{event.endDate|date('d/m/Y h:i')}}</td>
							<td>
							<button class="btn btn-danger" type="button" title="Supprimer le compte" onclick="location.replace('/admin/evenements/suppression/{{event.id}}')">
								<svg class="bi bi-trash" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
									<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
								</svg>
							</button>
							</td>
						</tr>			
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-md-6 align-self-center">
<p id="dataTable_info" class="dataTables_info poppins" role="status" aria-live="polite">{{events|length}}
	évènement{% if events|length > 1 %}s{% endif %}</p>
</p>

				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{asset('js/adminCheckboxRole.js')}}"></script>




{% endblock %}