{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		/* Hide scrollbar for Chrome, Safari and Opera */
		.classContainerChat::-webkit-scrollbar {
			display: none;
		}

    /* Hide scrollbar for IE, Edge and Firefox */
    .classContainerChat {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: thin;  /* Firefox */
    } 
</style>

	<link rel="stylesheet" href="{{asset('bootstrap/home/css/bootstrap.min.css')}}">
	<body>
		<nav id="mainNav" class="navbar navbar-light navbar-expand-lg fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">Esca'Lab</a>
				<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<div id="navbarResponsive" class="collapse navbar-collapse">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Accueil</a>
						</li>
						{% if app.user.id is defined and app.user.id != 0 %}
							<li class="nav-item" style="display: inline-block">
								<a class="nav-link" href="/user">Mon compte</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout">Se déconnecter</a>
							</li>
							<li class="nav-item">
								<img class="border rounded-circle img-profile" width="30px" height="30px" style="" src="{{asset('images/profiles/') ~ app.user.picture}}">
							</li>

						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="/connexion">Se connecter</a>
							</li>
							<div class="d-none d-sm-block topbar-divider"></div>
							<li class="nav-item">
								<a class="nav-link" href="/inscription">S&#39;inscrire</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<header class="masthead" style="background-image: url('{{asset('images/home/background.jpeg')}}');">

			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-8 mx-auto position-relative">
						<div class="site-heading">
							<h1>Esca'Lab</h1>
							<span class="subheading">Grimpez à votre rythme</span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8">
					<div class="post-preview">
						<a href="/franchise/all">
							<h2 class="post-title">Trouvez des salles d'escalade</h2>
							<h3 class="post-subtitle">Parcourrez la liste des différentes salles d'escalade partenaire de notre site</h3>
						</a>
					</div>
					<hr/>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-8 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</li>
							<li class="list-inline-item">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</li>
							<li class="list-inline-item">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-github fa-stack-1x fa-inverse"></i>
								</span>
							</li>
						</ul>
						<p class="text-muted copyright">Copyright © Esca'Lab 2022</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="{{asset('bootstrap/home/js/bootstrap.min.js')}}"></script>
		<script src="{{asset('js/home.js')}}"></script>

	</body>


{% endblock %}
