{% extends 'admin-user.html.twig' %}

{% block title %}Employés ◈ Esca'Lab
{% endblock %}


{% block body %}
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0 poppins bold text-black"
      style="color: rgb(33,37,41);">Employés de
        <i>{{ app.user.franchise.name }}</i>
        {% if is_granted('ROLE_ADMIN_FRANCHISE') %}
            <a href="{{ path('add_franchise_employee') }}"><button type="button" class="btn btn-success ms-2">+ Add New</button></a>
        {% endif %}
    </h3>
</div>
<div class="row">
    <div class="table table-responsive mt-2">
        <table class="table my-0">
            <thead>
                <tr>
                    <th>Nom complet</th>
                    <th>Email</th>
                    <th>Date de naissance</th>
                    <th>Role(s)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr class="poppins">
                    <td><img class="rounded-circle me-2"
                          width="30"
                          height="30"
                          src="{{ asset('images/profiles/') ~ employee.picture }}">{{ employee.firstname }} {{
                        employee.lastname }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.birthdate|date('d/m/Y') }}</td>
                    <td>
                        <div class="form-check">
                            <input id="roleCheck"
                              onclick='window.location.assign("{{ path(
                              'edit_franchise_employee',
                              {id:
                              employee.id,
                              check: 'admin_franchise'
                              })
                              }}")'
                              class="form-check-input"
                              type="checkbox"
                              {%
                              if "ROLE_ADMIN_FRANCHISE"
                              in
                              employee.roles
                              %}checked{%
                              endif
                              %} />
                            <label for="roleCheck"
                              class="form-check-label">Administrateur de franchise</label>
                        </div>
                        <div class="form-check">
                            <input id="roleCheck"
                              onclick='window.location.assign("{{ path(
                              'edit_franchise_employee',
                              {id:
                              employee.id,
                              check: 'admin_salle'
                              })
                              }}")'
                              class="form-check-input"
                              type="checkbox"
                              {%
                              if "ROLE_ADMIN_SALLE"
                              in
                              employee.roles
                              %}checked{%
                              endif
                              %} />
                            <label for="roleCheck"
                              class="form-check-label">Administrateur de salle</label>
                        </div>
                        <div class="form-check">
                            <input id="roleCheck"
                              onclick='window.location.assign("{{ path(
                              'edit_franchise_employee',
                              {id:
                              employee.id,
                              check: 'ouvreur'
                              })
                              }}")'
                              class="form-check-input"
                              type="checkbox"
                              {%
                              if "ROLE_OUVREUR"
                              in
                              employee.roles
                              %}checked{%
                              endif
                              %} />
                            <label for="roleCheck"
                              class="form-check-label">Ouvreur</label>
                        </div>
                    </td>
                    <td>
                        <button type="button"
                          class="btn btn-danger"
                          data-href="{{ path('remove_franchise_employee', {id: employee.id}) }}"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModal">
                            🗑
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet|te employé|e ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a class="btn btn-outline-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementById('exampleModal');

        modal.addEventListener('show.bs.modal', function (e) {
            var btn = this.getElementsByClassName('btn-outline-danger')[0];
            btn.href = e.relatedTarget.getAttribute('data-href');
            return false;
        });
    </script>
</div>
{% endblock %}