{% extends 'admin-user.html.twig' %}

{% block title %}Franchise Admin ◈ Esca'Lab
{% endblock %}


{% block body %}

	<div class="d-sm-flex justify-content-between align-items-center mb-4">
		<h3 class="text-dark mb-0 poppins bold text-black" style="color: rgb(33,37,41);">KPIs</h3>
	</div>
	<div class="row">
		<div class="col-lg-7 col-xl-8">
			<div class="card shadow mb-4">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h6 class="text-primary fw-bold m-0 text-black poppins">Salles ouvertes (6 dernier jours)</h6>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas data-bss-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Lun&quot;,&quot;Mar&quot;,&quot;Mer&quot;,&quot;Jeu&quot;,&quot;Ven&quot;,&quot;Sam&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Earnings&quot;,&quot;fill&quot;:true,&quot;data&quot;:[&quot;5&quot;,&quot;10&quot;,&quot;7&quot;,&quot;6&quot;,&quot;14&quot;,&quot;12&quot;],&quot;backgroundColor&quot;:&quot;rgba(78, 115, 223, 0.05)&quot;,&quot;borderColor&quot;:&quot;rgba(78, 115, 223, 1)&quot;}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;,&quot;display&quot;:false},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;],&quot;drawOnChartArea&quot;:false},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;fontStyle&quot;:&quot;normal&quot;,&quot;padding&quot;:20}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;]},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;fontStyle&quot;:&quot;normal&quot;,&quot;padding&quot;:20}}]}}}"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-xl-4">
			<div class="card shadow mb-4">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h6 class="text-primary fw-bold m-0 text-black poppins">Voies ouvertes / fermées</h6>
				</div>
				<div class="card-body">
					<div class="chart-area">
						<canvas data-bss-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Ouvertes&quot;,&quot;Fermée&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Voies ouvertes&quot;,&quot;backgroundColor&quot;:[&quot;#4e73df&quot;,&quot;#1cc88a&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;{{ app.session.get('opened_ways') }}&quot;,&quot;{{ app.session.get('ways_count') - app.session.get('opened_ways') }}&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;,&quot;display&quot;:false}}}"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-start-primary py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-primary fw-bold text-xs mb-1">
								<span class="text-primary poppins">Voies ouvertes</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0 poppins">
								<span>{{ app.session.get('opened_ways') }}</span>
							</div>
						</div>
						<div class="col-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewbox="0 0 16 16" class="bi bi-bricks fa-2x" style="color: var(--bs-blue);">
								<path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"></path>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-start-success py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-success fw-bold text-xs mb-1">
								<span class="text-primary poppins">Salles ouvertes</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0 poppins">
								<span>
									{% if (app.user.franchise != null) %}
										{{ app.user.franchise.gyms|length }}{% else %}0
									{% endif %}
								</span>
							</div>
						</div>
						<div class="col-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewbox="0 0 16 16" class="bi bi-building fa-2x" style="color: var(--bs-blue);">
								<path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"></path>
								<path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"></path>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-start-info py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-info fw-bold text-xs mb-1">
								<span class="text-primary poppins">Paiements mensuels</span>
							</div>
							<div class="row g-0 align-items-center">
								<div class="col-auto">
									<div class="text-dark fw-bold h5 mb-0 me-3 poppins">
										<span>{{ app.session.get('monthly_payments') }}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewbox="0 0 16 16" class="bi bi-piggy-bank fa-2x" style="color: var(--bs-blue);">
								<path d="M5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm1.138-1.496A6.613 6.613 0 0 1 7.964 4.5c.666 0 1.303.097 1.893.273a.5.5 0 0 0 .286-.958A7.602 7.602 0 0 0 7.964 3.5c-.734 0-1.441.103-2.102.292a.5.5 0 1 0 .276.962z"></path>
								<path fill-rule="evenodd" d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069c0-.145-.007-.29-.02-.431.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a.95.95 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.735.735 0 0 0-.375.562c-.024.243.082.48.32.654a2.112 2.112 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595zM2.516 6.26c.455-2.066 2.667-3.733 5.448-3.733 3.146 0 5.536 2.114 5.536 4.542 0 1.254-.624 2.41-1.67 3.248a.5.5 0 0 0-.165.535l.66 2.175h-.985l-.59-1.487a.5.5 0 0 0-.629-.288c-.661.23-1.39.359-2.157.359a6.558 6.558 0 0 1-2.157-.359.5.5 0 0 0-.635.304l-.525 1.471h-.979l.633-2.15a.5.5 0 0 0-.17-.534 4.649 4.649 0 0 1-1.284-1.541.5.5 0 0 0-.446-.275h-.56a.5.5 0 0 1-.492-.414l-.254-1.46h.933a.5.5 0 0 0 .488-.393zm12.621-.857a.565.565 0 0 1-.098.21.704.704 0 0 1-.044-.025c-.146-.09-.157-.175-.152-.223a.236.236 0 0 1 .117-.173c.049-.027.08-.021.113.012a.202.202 0 0 1 .064.199z"></path>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-start-warning py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-warning fw-bold text-xs mb-1">
								<span class="text-primary poppins">Évènements mensuels</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0 poppins">
								<span>3</span>
							</div>
						</div>
						<div class="col-auto">
							<img width="40" height="40" class="blue-svg" src="/images/calendars/{{month}}.svg">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
