{% extends 'user.html.twig' %}

{% block title %}
	Esca'Lab - Evenements Personnels
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('js/tiny-toast-1.1.0/tiny-toast.min.js') }}"></script>
	<script src="{{ asset('js/events/update-event-user.js') }}"></script>
	<script src="{{ asset('js/events/collapse-event.js') }}"></script>

{% endblock %}

{% set templateSpan %}
<span id="spinner-__id__" class="spinner-border spinner-border-sm text-__spinnerColor__" role="status" aria-hidden="true" hidden></span>
{% endset %}

{% block body %}
	
    {% include 'event/component.html.twig' %}

    <input type="text" id="url_root" value="{{ app.request.getSchemeAndHttpHost() }}" hidden></input>
    <input type="text" id="templateSpan" data-t-span="{{ templateSpan|escape }}" hidden>
{% endblock %}